body {
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Titillium Web', sans-serif;
}

body {
    display: grid;
    grid-template-rows: 1fr 20fr 1fr;
    padding: 0;
    margin: 0;
    height: 100vh;
}

.xvocab-title-a {
    color: black;
}
.xvocab-title-a:link {
    text-decoration: none;
}
.xvocab-title-a:visited {
    text-decoration: none;
}
.xvocab-title-a:hover {
    text-decoration: none;
}
.xvocab-title-a:active {
    text-decoration: none;
}

.date {
    padding: 10px;
}

.header {
    margin: 0;
    padding: 5px;
    text-align: center;
    background: linear-gradient(to bottom, #b8d8ba 0%, #d9dbbc 100%);
}

.content {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: linear-gradient(to bottom, #d9dbbc 0%, #fcddbc 100%);
    
}

.footer {
    display: flex;
    justify-content: flex-end;
    background-color: #fcddbc;
}